body {
  overflow-x: hidden !important;
}

.img {
  background-image: url("https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
  margin: 0;
  padding: 0;
}

.logo i {
  font-size: 3rem !important;
}

nav {
  overflow: hidden !important;
}

.section-imgScroll {
  margin: 0;
  padding: 0;
}

.section-gallery img {
  margin: 20px;
}

.fa-4x {
  color: white;
}

.border-bottom {
  border-bottom: 1.3px solid #009688;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
}

.teal-border-bottom {
  border-bottom: 1.5px solid #1de9b6;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
}

footer .fa {
  color: white;
}

/* Media Queries */

@media (min-width: 700px) {
  .logo {
    padding-left: 5% !important;
  }
}

@media (max-width: 700px) {
  .about-text {
    width: 100% !important;
  }
}
